<!DOCTYPE html>
<html lang="en">
<head>
		<base href="/" />
		<title>Fullstack Academy Generated Application</title>
		<link rel="stylesheet" type="text/css" href="/bootstrap/dist/css/bootstrap.css" />
		<link rel="stylesheet" type="text/css" href="/style.css" />
		<script src="/lodash/index.js"></script>
		<script src="/shuffle-array/dist/shuffle-array.js"></script>
		<script src="/angular/angular.js"></script>
		<script src="/angular-animate/angular-animate.js"></script>
		<script src="/angular-ui-router/release/angular-ui-router.js"></script>
		<script src="/angular-ui-bootstrap/ui-bootstrap.js"></script>
		<script src="/angular-ui-bootstrap/ui-bootstrap-tpls.js"></script>
		<!-- Victor added firebase and angularfire -->
				<!-- Firebase -->
		<script src="https://cdn.firebase.com/js/client/2.4.0/firebase.js"></script>

		<!-- AngularFire -->
		<script src="https://cdn.firebase.com/libs/angularfire/1.1.3/angularfire.min.js"></script>
		<script src="/socket.io-client/socket.io.js"></script>
		<script src="/main.js"></script>
</head>
<body ng-app="FullstackGeneratedApp">
		<navbar></navbar>
		<div id="main" ui-view></div>
</body>
</html>
