::-webkit-input-placeholder { 
  padding-left: 5px;
}

#background-image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#showfronthome {
  background-color: #B9B9B9;
  border: 1px solid #0A7C61;
  padding: 20px;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  .btn {
    background-color: #252433;
    color: white;
    border-radius: 2px;
    margin: 5px;
    border: 2px solid #0A7C61; 
    width: 150px;
  }
  .btn-non-fixed {
    background-color: #252433;
    color: white;
    border-radius: 2px;
    margin: 5px;
    border: 2px solid #0A7C61;
    padding: 6px 12px
  }

  .title-header {
    font-size: 24px;
    color: #252433;
    margin-bottom: 10px;

  }
  .centered {
    display: flex;
    flex-direction: column;
    align-items: center;
    #create-game-form {
      display: flex;
      flex-direction: row;
      align-items: center;
      select {
        background-color: #252433;
        color: white;
        border: 1px solid #0A7C61;
        margin: 3px;
      }
    }
  }
}


#game-list {
  border: 1px solid #0A7C61;
  border-radius: 2px;
  display: inline-block;
  clear: none;
  text-align: center;
  padding: 5px 0px;
  margin-top: 5px;
  margin-bottom: 0px;
  width: 90%;
  max-height: 100px;
  overflow: scroll;
  span {
    border-bottom: 1px solid #0A7C61;
    display: block;
    margin: auto;
    width: 100%;
    text-align: center;
    font-size: 0.9em;
    color: #252433;
    margin-top: 2px;
    margin-bottom: 2px;
    padding-bottom: 10px;
  }
  #join-game {
    font-size: 16px;
    color: #252433;
  }
}
#centeredlobby {
  display: inline-block;
  clear: none;
  text-align: center;
  margin-left: auto;
  margin-top: 10px;
  margin-bottom: -10px;
  width: 100%;
  button {
    border: 1px solid white;
    background: transparent;
    font-size: 0.9em;
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: 4%;
    margin-right: 4%;
  }
  h3 {
    color: black;
    font-size: 1.4em;
    padding: 10px;
  }
}



.ng-toast {
    z-index: 2010;
    position: fixed;
    float: right;
    width: 25%;
    margin-top: 1%;
    margin-left: 59%;
    opacity: 0.6;
}

#map {
    left: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.alert-alert {
    color: #FFF;
    background-color: #FC3000;
    border: .5px solid white;
}

.alert-infection {
    color: #545D00;
    background-color: #ABBA1E;
    border: .5px solid white;
}

.alert-unimportant {
    color: #FFF;
    background-color: #0F6EA7;
    border: .5px solid white;
}
