<div id="backgroundimage">
    <div id="showfrontsignup">
    <div id="centered">
        <form id="signup-form" name="signupForm" ng-submit="signupForm.$valid && signup(account)">
            <alert type="danger" ng-show="error">
                {{ error }}
            </alert>

            <div class="form-group">
                <label for="email">Email address</label>
                <input type="text" ng-model="account.email" class="form-control" id="email" placeholder="Enter email">
            </div>
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" ng-model="account.username" class="form-control" id="username" placeholder="Enter username">
            </div>
            <div class="form-group">
                <label for="login-password">Password</label>
                <input type="password" ng-model="account.password" class="form-control" id="login-password" placeholder="Password">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
            <div id="centered">
                <span><h3>Already have an account?</h3></span>
                <button type="button" class="btn btn-default" ui-sref="login">Login</button>
            </div>
        </form>
        </div>
  </div>
</div>

