.panel,
.panel-default,
.panel-heading {
  border: none;
}

#table-column{
  text-align: center;
  display: inline-block;
  width: 50%;


}
a {
  img {
    padding: none;
    float: right;
  }
}
#table-row{
  padding-top: 0px;
  padding-bottom: 0px;
}

.panel-title {
  border: none;
  text-decoration: none;
}
.list-group-item {
  padding: none;
  button {
    width: 100%;
    margin: none;
    color: white;
    border-radius: 10px;
    background-color: black;
  }
}
#collapseListGroupHeading1 {
  background-color: #AFEEEE;
  border: none;
  a {
    font-size: 14px;
    line-height: 0.5em;
    text-decoration: none;
    &:hover {
      color: gray;
    }
  }
}
#collapseListGroupHeading2 {
  background-color:   #E6E6FA;
  border: none;
  a {
    font-size: 14px;
    line-height: 0.5em;
    text-decoration: none;
    &:hover {
      color: gray;
    }
  }
}
#collapseListGroupHeading3 {
  background-color: #EEE8AA;
  border: none;
  a {
    font-size: 14px;
    line-height: 0.5em;
    text-decoration: none;
    &:hover {
      color: gray;
    }
  }
}
#collapseListGroupHeading4 {
  background-color: #DCDCDC;
  border: none;
  a {
    font-size: 14px;
    line-height: 0.5em;
    text-decoration: none;
    &:hover {
      color: gray;
    }
  }
}

.panel-footer {
  list-style: none;
  margin: none;
}

ul.list-group {
    margin-bottom: 0px !important;
}

.panel-group {
    margin-bottom: -10px !important;
}

#no-padding {
  padding-top: none;
  padding-bottom: none;
  line-height: 0.5em;
  font-size: 12px;
}

#low-padding {
  padding-top: none;
  padding-bottom: none;
  line-height: 1.3em;
  font-size: 12px;
}


navbar {
  position: fixed;
  width: 15%;
  z-index: 1000;
  top: 0;
  right: 0;
  box-shadow:  -2px 3px 11px 0px rgba(50, 50, 50, 0.55);
  /*height: 100%;*/
  /*padding-top: 0.25%;
  padding-right: 0.5%;
  padding-left: 0.25%;*/
  display: inline-block;
/*  background: transparent;*/
  background: #696969;



  /*border-bottom: 1px solid black;
  box-shadow: 1px 1px 14px -3px black;

  .container {
    width: 91%;
    max-width: 1340px;
    padding-top: 20px;
  }

  fullstack-logo {
    margin-top: 5px;
    margin-right: 20px;
    width: 40px;
  }*/

  /*a {
    color: black;
    font-size: 16px;
  }

  .nav > li > a {
    cursor: pointer;
    transition: color 0.2s;
    &.active {
      color: darken(#f31214, 10%);
    }
    &:hover {
      background: none;
      color: #f31214;
    }
    &:focus {
      background: none;
    }
  }

  .login-button {
    float: right;
    border: 1px solid black;
    margin-top: 10px;
    background: none;
    outline: none !important;
  }

  .welcome {
    float: right;
    margin-top: 12px;
    span {
      color: black;
      font-size: 16px;
      margin-right: 5px;
    }
    a {
      color: #f30046;
      cursor: pointer;
    }
  }*/

}
