nice-selector {

  display: block;
  width: 100%;
  cursor: pointer;

  .selection-bar {
  }

  ul {

    list-style-type: none;
    padding: 0;
    opacity: 1;
    position: relative;
    right: 0;
    color: white;
    overflow: auto;
    max-height: 70px;

    li {
      margin-top: 5px;
    }

    &.ng-hide-add, &.ng-hide-remove {
      transition: all linear 0.25s;
    }

    &.ng-hide {
      opacity: 0;
      right: -100px;
    }

  }

}
