path {
  stroke: white;
  stroke-width: 0.2em;
  stroke-opacity: 0.8;
  opacity: 0.9;
}

.testING {
  stroke: white;
}

.label {
  color: white;
  font-size: 0.8em;
  font-weight: 100;
  letter-spacing: 0.2em;

}

//.golocation {
//  //animation: blinker 1s linear infinite;
//  opacity : .1;
//}
//
//@keyframes golocation {
//  50% { opacity: 0.0; }
//}

//.golocation {
//  opacity: .1;
//}
