#outbreak-level{
  position: fixed;
  bottom: 0px;
  right: 0;
  display: inline-block;
  text-align: center;
	background: transparent;
  color: white;
  opacity: 1;
	padding-bottom: 0;
  padding-top: 0.2%;
  padding-left: 2%;
  padding-right: 2%;
  line-height: 1.1em;
  z-index: 2000;
  span {
    font-weight: 100;
    font-size: 0.7em;
    letter-spacing: 0.4em;
  }

}
