/*.cardfront {
  z-index: 2000;
  margin-left: 2%;
  padding-top: 2%;
  padding-bottom: 2%;
  float: left;
  clear: none;

  img {
    display: block;
    clear: none;
  }
}*/

.cardcontainer {
  z-index: 2000;
  position: fixed;
  background-color: black;
  opacity: 0.9;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  /*min-height: 43%;
  min-width: 29%;*/
  top: 0%;
  left: 5%;
  span {
    width: 100%;
    display: block;
    text-align: center;
    color: white;
  }
  img {
    height: 200px;
    margin-left: 2px;
  }

}

.cardcontainerInfection {
  z-index: 2000;
  position: fixed;
  background-color: black;
  opacity: 0.9;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  /*min-height: 43%;
  min-width: 29%;
*/
  top: 0%;
  left: 30%;
  span {
    width: 100%;
    display: block;
    text-align: center;
    color: white;
  }
  img {
    height: 200px;
    margin-left: 2px;
  }

}

