#still-available{
  position: fixed;
  bottom: 0px;
  right: 53.75%;
  display: inline-block;
  float: left;
  text-align: center;
  background: black;
  color: magenta;
  opacity: 0.8;
  padding-bottom: 0;
  padding-top: 0.25%;
  padding-left: 2%;
  padding-right: 2%;
  line-height: 1.2em;
  z-index: 2000;
  span {
    font-weight: 100;
    font-size: 0.8em;
    letter-spacing: 0.4em;
    color: white;
  }

}
