<div id="backgroundimage">
  <div id="showfronthome">
    <span id="centered"><h3>Welcome to Outbreak</h3></span><br /><br />
    <div id="centered">
      <button type='button' ng-show=!isLoggedIn ng-click="goToLogin()">Login</button>
      <button type='button' ng-show=!isLoggedIn ng-click="goToSignup()">Signup</button>
    </div>

    <div id="centeredhome">
      <form ng-show=isLoggedIn id="create-game-form" name="createAGame" ng-submit="createGame(game)">

        <input type="text" ng-model="game.title" placeholder="Create a new game (enter title)"/>
<!--         <input type="radio" name="public" ng-model="game.typeOfGame" value="public" /> Public
        <input type="radio" name="private" ng-model="game.typeOfGame" value="private" /> Private -->
        <button type="submit">Create</button>
        <div id="uncenteredhome">
          <span>Join an exisiting game:</span>
          <div ng-repeat="lobby in lobbies track by $index" ng-show=isLoggedIn>
            <button type="button" ng-show="true" ng-click="joinGame(this.lobby, $index)">{{lobby.title | uppercase}}
            ({{lobby.users.length}} of 4 Players)</button>
        <!-- <button type="button" ng-show="lobbyIndex[$index]" ng-click="joinGame(this.lobby, $index)">Join</button> -->
          </div>
        </div>

        <button type='button' ng-show=isLoggedIn ng-click="logout()">Logout {{loggedInUser.email}}</button>
      </form>
    </div>
<!--     <div id="uncenteredhome">

    </div> -->
  </div>
</div>

