#about {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2000;
  background: white;
  margin: 0 auto;
  padding-left: 15%;
  padding-top: 5%;
  padding-right: 15%;
  height: 100%;
  overflow: scroll;
  width: 90%;
  @include clearfix;

  p {
    width: 100%;
    margin: 0 auto;
    font-size: 15px;
    font-weight: 300;
    float: left;
    overflow: scroll;
  }



}
