<!-- <div ng-show="isCurrentlyDrawPhase"> -->
<div ng-show="true">
  <div class="cardcontainer">
    <span>Drawn player cards:</span>
    <img class="cardfront" ng-repeat="cardImage in cardImages" src="{{cardImage}}" height="200px"/>
    <!-- <img class="cardfront" src="http://i.imgur.com/yn2NXMr.png" height='200px'/> -->
   <!--  <img class="cardfront" src="http://i.imgur.com/yn2NXMr.png" height='250px'/> -->
  </div>
</div>

<!-- <div ng-show="drawInfection"> -->
<div ng-show="true">
  <div class="cardcontainerInfection">
    <span>Drawn infection cards:</span>
    <img class="infectionCardfront" ng-repeat="infectionImage in infectionImages" src="{{infectionImage}}" height="200px"/>
    <!-- <img class="infectionCardfront" src="http://i.imgur.com/0Mh2rl8.png" height="200px"/>
    <img class="infectionCardfront" src="http://i.imgur.com/0Mh2rl8.png" height="200px"/>
    <img class="infectionCardfront" src="http://i.imgur.com/0Mh2rl8.png" height="200px"/> -->
   <!--  <img class="infectionCardfront" src="http://i.imgur.com/0Mh2rl8.png" height="300px"/> -->
  </div>
</div>
