<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default" id="slide-submenu" ng-repeat="other in others">
        <div class="panel-heading" role="tab" ng-attr-id="collapseListGroupHeading{{$index+1}}">
            <span id="arrowWidget" ng-show="turnBelongsTo(other.role)"><i class="glyphicon glyphicon-chevron-right"></i></span>
            <h4 class="panel-title">
                <a class role="button" data-toggle="collapse" data-parent="#accordion" ng-href="#collapseListGroup{{$index+1}}" aria-expanded="false" aria-controls="collapseListGroup1"><strong>{{other.username}}</strong></a>
                <span uib-tooltip="{{other.tooltip}}" tooltip-is-open="tooltipIsOpen"
                tooltip-placement="left-bottom" tooltip-class="customClass"></span>
                  <a ng-click="tooltipIsOpen = !tooltipIsOpen">
                    <img ng-src="{{other.icon}}" height="30"/><br />
                  <i>{{other.roleName}}</i><span id="currentCity">{{other.currentCity}}</span></a>
            </h4>
        </div>
        <div ng-attr-id="collapseListGroup{{$index+1}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="collapseListGroupHeading1">
            <div id="table-row" class="list-group-item" ng-repeat="row in other.chunkedData">
                <span id="table-column" ng-repeat="card in row">
                    <button class="ng-class: card.color" ng-click="eventAction(card)">{{card.name}}</button>
                </span>
                <span ng-show="eventCardOptions.showAirlift">
                    This is the airlift
                    <div>
                    <select name="" id="" ng-change="notifyRoleChange()" ng-model="airlift.role">
                        <option value="{{key}}" ng-repeat="(key,role) in roles">{{role.name}}</option>    
                    </select>
                    </div>
                    <div>
                    <select ng-show="airlift.role" name="" id="" ng-change="notifyCityChange()" ng-model="airlift.city">
                        <option value="{{city.key}}" ng-repeat="city in airliftCities">{{ city.key  | camelcasechange }}</option>
                    </select>
                    </div>
                    <button ng-show="airlift.city" class="btn btn-sm" ng-click="executeAirlift()">Execute</button>
                </span>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" ng-attr-id="collapseListGroupHeading{{others.length + 1}}">
            <span id="arrowWidget" ng-show="turnBelongsTo(owner.role)"><i class="glyphicon glyphicon-chevron-right"></i></span>
            <h4 class="panel-title">
                <a class role="button" data-toggle="collapse" data-parent="#accordion" ng-href="#collapseListGroup{{others.length + 1}}" aria-expanded="true" aria-multiselectable="true" aria-controls="collapseListGroup4"><strong>{{owner.username}}</strong></a>
                  <span uib-tooltip="{{owner.tooltip}}" tooltip-is-open="tooltipIsOpen" tooltip-placement="left-bottom" tooltip-class="customClass"></span>
                  <a ng-click="tooltipIsOpen = !tooltipIsOpen">
                  <img ng-src="{{owner.icon}}" height="30"/><br /><i>{{owner.roleName}}</i><span id="currentCity">{{owner.currentCity}}</span></a>
                </h4>
        </div>
        <div ng-attr-id="collapseListGroup{{others.length + 1}}" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="collapseListGroupHeading{{others.length + 1}}">
            <ul class="list-group">
                <li class="list-group-item" ng-repeat="card in owner.hand">
                    <button class="ng-class: card.color" ng-click="cardAction(card)">{{card.name}}</button>
                </li>
            </ul>
        </div>
        <div ng-show="turnBelongsTo(owner.role)"><action-picker></action-picker>
        </div>
    </div>
</div>


<!--
                <li>ACTIONS:</li>
                <li>Move to a city connected by a white line</li>
                <li>Discard a City card to move to the city on the card.</li>
                <li>Discard the City card of your current city to move to any city.</li>
                <li>Move from a Research Center to any other Research Center</li>
                <li>Discard the City card of your current city to build a Research Center there.</li>
                <li>Remove 1 Disease unit from your current city. If this color is cured, remove all of that disease from the city.</li>
                <li>When you are in a city with another player, give that City card to the other player, or take it from them.</li>
                <li>At any Research Center, discard 5 City cards of the same disease color to cure that disease.</li> -->
<!-- <div class="container">
    <div class="row">
        <div class="col-xs-12">
            <ul class="nav nav-tabs">
                <li role="presentation" ng-class="{active: choice === 'gamer'}" ng-click="setTab('gamer')"><a>my hand</a></li>
                <li ng-repeat="gamer in othergamers" role="presentation" ng-class="{active: choice === '{{gamer}}'}" ng-click="setTab('{{gamer}}')"><a>{{gamer}}</a></li>
            </ul>
            <div id='gamer' ng-show="choice==='gamer'">
                <ul class="col-xs-2">
                    <li>Avatar image</li>
                    <li>Role Card</li>
                </ul>
                <ul class="col-xs-8">
                    <li ng-repeat="card in gamerHand" ng-click="selectCard()"></li>
                </ul>
                <ul class="col-xs-2">
                    <li ng-repeat="card in gamerDiscard"></li>
                    <li><button ng-click="discardCards()">Discard cards</button></li>
                </ul>
            </div>
            <div ng-repeat="gamer in otherGamers" id='{{gamer}}' ng-show="choice==='{{gamer}}'">
                <ul class="col-xs-2">
                    <li><img src="{{gamer.avatar}}"/></li>
                    <li><img src="{{gamer.rolecard}}"/></li>
                </ul>
                <ul class="col-xs-8">
                    <li ng-repeat="card in {{gamer.hand}}"></li>
                </ul>
                <ul class="col-xs-2">
                    <li ng-repeat="card in {{gamer.discard}}"></li>
                </ul>
            </div>
        </div>
    </div>
</div> -->
