<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default" id="slide-submenu">
        <div class="panel-heading" role="tab" id="collapseListGroupHeading1">
            <h4 class="panel-title">
                <a class role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseListGroup1" aria-expanded="false" aria-controls="collapseListGroup1"><strong>HOMBURGER</strong><br /><i>Medic</i></a>
            </h4>
        </div>
        <div id="collapseListGroup1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="collapseListGroupHeading1">
            <div id="table-row" class="list-group-item" ng-repeat="rows in chunkedData">
                <span id="table-column" ng-repeat="item in rows">
                    {{item}}
                </span>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="collapseListGroupHeading2">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseListGroup2" aria-expanded="false" aria-controls="collapseListGroup2"><strong>LEON DANVINCI</strong><br /><i>Researcher</i></a>
                </h4>
        </div>
        <div id="collapseListGroup2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="collapseListGroupHeading2">
            <ul class="list-group">
                <li class="list-group-item" id="no-padding">Lima</li>
                <li class="list-group-item" id="no-padding">Osaka</li>
                <li class="list-group-item" id="no-padding">Tehran</li>
            </ul>
            <!-- <div class="panel-footer">Footer</div> -->
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="collapseListGroupHeading3">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseListGroup3" aria-expanded="false" aria-controls="collapseListGroup3"><strong>AJ PEREZIDENT</strong><br /><i>Scientist</i></a>
                </h4>
        </div>
        <div id="collapseListGroup3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="collapseListGroupHeading3">
            <ul class="list-group">
                <li class="list-group-item" id="no-padding">Manila</li>
                <li class="list-group-item" id="no-padding">Istanbul</li>
                <li class="list-group-item" id="no-padding">Bogota</li>
            </ul>
            <!--  <div class="panel-footer">Footer</div> -->
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="collapseListGroupHeading4">
            <h4 class="panel-title">
                <a data-parent="#accordion" href="#collapseListGroup4" aria-expanded="true" aria-controls="collapseListGroup4"><strong>JULIE OPPERATOR</strong><br /><i>Operations Expert</i></a>
                </h4>
        </div>
        <div id="collapseListGroup4" class="" role="tabpanel" aria-labelledby="collapseListGroupHeading4">
            <ul class="list-group">
                <li class="list-group-item" id="low-padding">
                    <button>Mexico City</button>
                </li>
                <li class="list-group-item" id="low-padding">
                    <button>Los Angeles</button>
                </li>
                <li class="list-group-item" id="low-padding">
                    <button>Madrid</button>
                </li>
            </ul>
            <ul class="panel-footer">
                <li><strong>PROPOSED MOVES:</strong></li>
                <li>1. Move to London</li>
                <li>2. Build Research Center</li>
                <li>3. Move to Madrid</li>
                <li>4. Treat blue disease</li>
            </ul>
        </div>
    </div>
</div>
<!-- <div class="container">
    <div class="row">
        <div class="col-xs-12">
            <ul class="nav nav-tabs">
                <li role="presentation" ng-class="{active: choice === 'gamer'}" ng-click="setTab('gamer')"><a>my hand</a></li>
                <li ng-repeat="gamer in othergamers" role="presentation" ng-class="{active: choice === '{{gamer}}'}" ng-click="setTab('{{gamer}}')"><a>{{gamer}}</a></li>
            </ul>
            <div id='gamer' ng-show="choice==='gamer'">
                <ul class="col-xs-2">
                    <li>Avatar image</li>
                    <li>Role Card</li>
                </ul>
                <ul class="col-xs-8">
                    <li ng-repeat="card in gamerHand" ng-click="selectCard()"></li>
                </ul>
                <ul class="col-xs-2">
                    <li ng-repeat="card in gamerDiscard"></li>
                    <li><button ng-click="discardCards()">Discard cards</button></li>
                </ul>
            </div>
            <div ng-repeat="gamer in otherGamers" id='{{gamer}}' ng-show="choice==='{{gamer}}'">
                <ul class="col-xs-2">
                    <li><img src="{{gamer.avatar}}"/></li>
                    <li><img src="{{gamer.rolecard}}"/></li>
                </ul>
                <ul class="col-xs-8">
                    <li ng-repeat="card in {{gamer.hand}}"></li>
                </ul>
                <ul class="col-xs-2">
                    <li ng-repeat="card in {{gamer.discard}}"></li>
                </ul>
            </div>
        </div>
    </div>
</div> -->
